/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Encode Sans Expanded', sans-serif;
}
a:hover { text-decoration: none }

.section-padding {
    padding: 80px 0px;
}

.quote-from-weapper img {
    display: block;
    margin: 0 auto;
    margin-bottom: -54px;
}

.blue-quote-from-area {
    background-color: #19b5fe;
    max-width: 772px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 43px;
}

.blue-quote-from-area h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    position: relative;
     padding-top: 45px;
     padding-bottom: 15px;
}

.blue-quote-from-area h3:before {
    content: "";
    position: absolute;
    width: 130px;
    height: 2px;
    background-color: #fff;
    left: 50%;
    bottom: -6px;
    margin-left: -65px;

}

.blue-quote-from-area h3:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: 50%;
    bottom: -12.5px;
    margin-left: -7px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.blue-quote-from-area input , .blue-quote-from-area textarea {
    border: none;
    background: none;
    border-bottom: 2px solid #fff;
    width: 100%;
    padding: 10px 0px;
    color: 
}

.blue-quote-from-area textarea {
    height: 100px;
    margin-top: 10px;
}

.blue-from-submit {
    text-align: center;
    margin-top: 20px;
}

.blue-from-submit button[type=submit] {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    color: #37bafe;
    text-transform: uppercase;
    border-radius: 7px;
}

.blue-from-submit button[type=submit]:hover {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+16,54a3ee+45,3690f0+52,1e69de+99 */
background: #6db3f2; /* Old browsers */
background: -moz-linear-gradient(top, #6db3f2 16%, #54a3ee 45%, #3690f0 52%, #1e69de 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #6db3f2 16%,#54a3ee 45%,#3690f0 52%,#1e69de 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #6db3f2 16%,#54a3ee 45%,#3690f0 52%,#1e69de 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */;
transition: all .5s;
color: #fff;
}
